{{!-- relacionado con la linea entre 14-18 del app.js --}}
    <h1>
    {{!-- al pasarle {{variable}} salida del app.js , la llama y la invoca --}}
      hola mundo {{nombre}} {{apellido}} viejo choto de {{edad}} años !!!!!!!</h1>


      {{!-- /se debe instalar un paquete para poder usar esta condicion --}}
    {{!-- </h1>
    <h1>
        entonces usted:</h1>
        {{#if edad '>' 20 }} 
        <h2>es mayor de edad</h2> 
        {{else}} 
        <h1>{{edad}}viejo choto</h1> {{/if}}
    
     --}}